<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PagoElectronico.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2015;User ID=gd;Password=gd2015" />
    </connectionStrings>
</configuration>